.services{
    padding: 5rem 0;
    background-color: #f8f9fa;
    text-align: center;
}

.title{
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.cardContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}